.elementor-kit-6{--e-global-color-primary:#000000;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-8bfbaa6:#EEEEEE;--e-global-color-07af9c7:#F8F8F8;--e-global-color-b3d9f43:#E7F0F2;--e-global-color-a2d745d:#054589;--e-global-typography-primary-font-family:"NeueMontreal";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Nuckel";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-6 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'NeueMontreal';
	font-style: italic;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/NeueMontreal-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'NeueMontreal';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/NeueMontreal-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'NeueMontreal';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/NeueMontreal-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'NeueMontreal';
	font-style: italic;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/NeueMontreal-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'NeueMontreal';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/NeueMontreal-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'NeueMontreal';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/NeueMontreal-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'NeueMontreal';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../fonts/NeueMontreal-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'NeueMontreal';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('../fonts/NeueMontreal-LightItalic.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Nuckel';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../fonts/Nuckle-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Nuckel';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../fonts/Nuckle-Semibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Nuckel';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../fonts/Nuckle-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Nuckel';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/Nuckle-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Nuckel';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../fonts/Nuckle-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Nuckel';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('../fonts/Nuckle-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Nuckel';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../fonts/Nuckle-Thin.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */