/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media
only screen
and (max-width: 760px), (min-device-width: 768px)
and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

/*    tr {
        margin: 0 0 1rem 0;
    }*/

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        /*top: 0;*/
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

/* CSS TABLE STYLES */

.css-table {
    display: table;
    width: 100%;
}

.css-table-header {
    display: table-header-group;
    font-weight: bold;
}

.css-table-body {
    display: table-row-group;
    text-align: center;
}

.css-table-row {
    display: table-row;
}

.css-table-header div,
.css-table-row div {
    display: table-cell;
    padding: 0 6px;
}

.css-table-header div {
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
}
